<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"crossorigin="anonymous">
	<meta charset="utf-8">
	<title>POST</title>
</head>
<body>
	<br><br>
	<div class="container">
		<div class="row">
			<br>
			{% for post in posts %}
			    <div class="col-lg-6 offset-lg-3">
			    	<div class="media">
			    		<img class="mr-3 rounded-circle"
			    		src="{{ post.user.picture }}"
			    		alt="{{ post.user.name }}">	
			      <div class="media-body">
			    	<h5 class="mt-0">
			    	{{ post.user.name }}</h5>
			    	{{ post.timestamp }}
			    </div>
			    </div>
			    <img src="{{ post.photo }}" alt="{{ post.title }}" class="img-fluid mt-3 border rounded ">
			    <h6 class="m1-1 mt-1">{{ post.title }}</h6>
			    <br><br>
		</div>
		{% endfor %}
	</div>
 </div>
</body>
</html>
